.DS_Store
.env
.source/
.tanstack/
.turbo/
.vitest-attachments/
*.local
*.log
**/__screenshots__/**
apps/docs/.story/
apps/docs/src/generated/
apps/docs/src/routeTree.gen.ts
dist/
node_modules/
packages/@luke-ui/react/.generated/
packages/@luke-ui/react/docs/
packages/@luke-ui/react/public/icons/
packages/@luke-ui/react/screenshots/
packages/@luke-ui/react/spritesheet.svg
packages/@luke-ui/react/src/generated/color-tokens.generated.ts
packages/@luke-ui/react/src/generated/icons.tsx
public/dist/
server/dist/
storybook-static/

!**/__screenshots__/
!**/__screenshots__/**/
!**/__screenshots__/**/*-linux.png
